@charset "UTF-8";
@import "partial/base";
@import "partial/flex";



#root{
	padding-top:100px;
	text-align:center;
}

@function size($px) {
	@return $px / 2;
}


/* 设置滚动条的样式 */
::-webkit-scrollbar {
    width:8px;
  }
    /* 滚动槽 */
  ::-webkit-scrollbar-track {
    -webkit-box-shadow:#e4e4e4;
    border-radius:10px;
  }
    /* 滚动条滑块 */
  ::-webkit-scrollbar-thumb {
    border-radius:10px;
    background:#e4e4e4;
    -webkit-box-shadow:#e4e4e4;
  }
  ::-webkit-scrollbar-thumb:window-inactive {
    background:#e4e4e4;
  }
  